<div class="row">
    <div class="col-md-12">
        <h2>Departments</h2>
        <hr />
        {{#unless message}}
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Department Number</th>
                        <th>Department Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td><a href="/employees?department={{this.departmentId}}">{{this.departmentId}}</a></td>
                        <td><a href="/employees?department={{this.departmentId}}">{{this.departmentName}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
            {{/unless}}
        </div>

    </div>
</div>